*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.rodape-container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(150, 149, 149);
}

.rodape-container p
{
    font-size: 25px;
    font-weight: 400;
    color: #db6d13;
}